In [1]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()
from web3 import Web3
import pandas as pd
import os
import datetime
from functools import reduce

In [2]:
web3_provider = 'wss://mainnet.infura.io/ws/v3/0cf6452466de4abf87ff0d9c07d484d8'
w3 = Web3(Web3.WebsocketProvider(web3_provider))
start_block_timestamp = w3.eth.getBlock(9195000).timestamp  # 01/05/2020
end_block_timestamp = int(datetime.datetime.now().timestamp())

In [3]:
w3.eth.getBlock(9195000).timestamp

1577867606

In [4]:
eth_price = cg.get_coin_market_chart_range_by_id('ethereum', 'usd', from_timestamp=start_block_timestamp, to_timestamp=end_block_timestamp)['prices']

In [5]:
def format_datetime_str(time_price):
    timestamp = time_price[0] / 1000
    time_price[0] = datetime.datetime.fromtimestamp(timestamp).strftime("%m/%d/%Y %H:%M:%S")
    return time_price

eth_price = pd.DataFrame(map(format_datetime_str, eth_price), columns=['date', 'price'])

In [6]:
eth_price

                    date        price
0    01/01/2020 21:00:00   130.484685
1    01/02/2020 21:00:00   127.045258
2    01/03/2020 21:00:00   133.702649
3    01/04/2020 21:00:00   134.136883
4    01/05/2020 21:00:00   135.005714
..                   ...          ...
504  05/19/2021 21:00:00  2505.014946
505  05/20/2021 21:00:00  2778.279661
506  05/21/2021 21:00:00  2419.103217
507  05/22/2021 21:00:00  2306.371267
508  05/23/2021 21:00:00  2120.037375

[509 rows x 2 columns]